body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(214, 62, 7);
}



i {
    margin-right: 10px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=phone],
input[type=number],
input[type=tel],
input[list=state],
input[type=date],
input[list=browse]
{
    width: 96%;
    height: 20px;
    padding: 8px;
    font-size: 18px;
    margin-top: 10px;
}

textarea{
    margin-top: 10px;
    font-size: 16px;
}