
.button{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.-small{
    padding: 2vh 20vw 2vh;
    font-size: 3.2vw;
    margin-right: 2%;   
}

.-xsmall{
    padding: 1vh 4vw 1vh;
    font-size: 12px;
    margin-right: 2%;  
}

.-medium{
    padding: 2vh 12vw 2vh;
    font-size: 18px;
    margin-right: 2%;
}

.-large{
    padding: 2vh 6vw 2vh;
    font-size: 1.2vw;
    margin-right: 2%;   
}

.-full{
    width: 100%;
    padding: 10px 0px 10px;
    font-size: 18px;
    margin-right: 2%;
}

.button:hover {
    background-color: tomato; /* Green */
    color: white;
}

.-roundBtn-1{
    border-radius: 40px;
}
