.cartClip{
    width: 120px;
    height: 40px;
    text-align: center;
    background-color: white;
    color: gray;
    position: absolute;
    z-index: 101;
    top: 430px;
    right: 15px;
    border-radius: 20px;
    padding-top: 14px;
    box-shadow: 0 0 16px rgba(0, 0 ,0, 0.2);
    cursor: pointer;
}
.cartClip:hover{
    background: rgb(247, 219, 167);
}
.no-of-items{
    min-width: 18px;
    width: 2vw;
    z-index: 101;
    border-radius: 50%;
    background: orangered;
    color: white;
    position: absolute;
    text-align: center;
    padding: 1vh 8px;
    top: -20px;
    right: 4px;
}