.foodForm{
    display: flex;
    flex-direction: column;
    padding: 4vh 0px;
    box-shadow: 0 0 16px rgba(0, 0 ,0, 0.3);
}

.-foodForm-margin{
    margin-bottom: 10vh;
}

.foodForm__item{
    height: 8vh;
    min-height: 56px;
}

.foodForm__inputs{
    min-height: 400px;    
}

.foodForm__picture-section{
    min-height: 170px;
    height: 30vh;
}

.-noOfPacks{
    width: 40%!important;
}

.-price{
    width: 50%!important;
}

.foodForm__uploadBtn{
    width: 100%!important;
}

@media (min-width: 150px) {
   
}

@media (min-width: 600px) {
    
}


@media (min-width: 991px) {
    
}

