
.landingBlock{
    height: 100%;
    width: 100%;
    background-image: url("../../images/burger_by_master.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}


.landingBlock__backdrop{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.landingBlock__caption, .landingBlock__caption-2{
    width: 100%;
    z-index: 102;
    position: absolute;
    text-align: center;
}


.landingBlock__caption-2-txtShadow{
    text-shadow: 2px 2px 3px #0a0a0a;
}

.landingBlock__how-it-works{
    height: auto;
    width: 100%;
    z-index: 102;
    top: 55%;
    position: absolute;
    display: grid;
    grid-column-gap: 1em;
}

.landingBlock__how-it-works-step{
    background-color: transparent;
}
.landingBlock__how-it-works-icon{
    width: 200px;
    height: 100px;   
    margin: auto;
    font-size: 50px;
    color: white;
    text-align: center;
    
}

.landingBlock__how-it-works-description{
    width: 100%;
    height: 80px;
    color:white;
    font-size: 16px;
    text-align: center;
}

@media (min-width: 240px) {
    .landingBlock__caption{ 
        top: 10%;
    }
    .landingBlock__caption-2{ 
        top: 25%;
    }

    .landingBlock__caption-font-size{
        color:white; font-size: 40px;
    }

    .landingBlock__caption-2-font-size{
        color:white; font-size: 26px!important;
    }
    
    .landingBlock__how-it-works{
        top: 33%;
        grid-template-columns: repeat(1, 1fr)!important;
    }
    
    .landingBlock{
        height: 1000px!important;
    }

}

@media (min-width: 601px) {
    .landingBlock__caption{ 
        top: 13%;
    }
    .landingBlock__caption-2{ 
        top: 25%;
    }

    .landingBlock__caption-font-size{
        color:white; font-size: 50px;
    }

    .landingBlock__caption-2-font-size{
        color:white; font-size: 30px!important;
    }
    .landingBlock{
        height: 1000px!important;
    }
    .landingBlock__how-it-works{
        top: 34%;
        grid-template-columns: repeat(1, 1fr)!important;
    }
    
}

@media (min-width: 992px) {
    .landingBlock__caption{ 
        top: 20%;
    }

    .landingBlock__caption-2{ 
        top: 45%;
    }

    .landingBlock__caption-font-size{
        color:white; font-size: 72px;
    }

    .landingBlock__caption-2-font-size{
        font-size: 40px!important;
    }
    .landingBlock__how-it-works{
        top: 58%;
        grid-template-columns: repeat(3, 1fr)!important;
    }
    .landingBlock{
        height: 100%!important;
    }
}