/* avoid element selector */
.logo{
    min-height: 48px;
    min-width: 52px;
    height: 6vh;
    width: 4vh;
    margin: 4px 0px 0px 5% ;
    padding: 4px 7px;
    cursor: pointer;
}

.logo__img{
    height: 100%;
    width: 100%; 
}