.td-2{ 
    border: 1px solid #ddd;
    color: black;
    padding-left: 10px;
}

.table{
    min-height: 300px;
    height: 35vh;
    width: 90%;
    margin-left: 5%;
}

.table .scrollBlock{
    width: 100%;
    min-height: 300px;
    height: 35vh;
    color:white;
    overflow: scroll;
    text-align:justify;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}

.-table-header-margin{
    margin-top: 0vh;
}

.header{
    color: gray;
    padding-left: 5%;
    padding-top: 7vh;
    margin-top: -2vh;
    font-size: 2.5vw;
}

.header-with-fixed-position{
    color: gray;
    padding-left: 5%;
    padding-top: 7vh;
    margin-top: -2vh;
    font-size: 2.5vw;
    position: fixed;
    background: white;
    width: 100%;
}


.separator{
    height: 20vh;
    width: 100%;
    position: relative;
    background-color: green;
}

.nav-left, .nav-right{ font-size:28px!important; vertical-align: middle;}
.nav-left-padding{ padding-left: 7px!important}
.nav-right-padding{ padding-right: 7px}

.nav-left:hover, 
.nav-right:hover{
    color: rgb(141, 139, 139)
}

.navPane{
    height: 20vh; padding-top: 12vh; padding-left: 45%;
}

.orderTools{
    display: flex;
    flex-flow: wrap;
    height: auto;
    padding-left: 5%;
    padding-right: 7%;
    justify-content: space-between;
}


.action-description{
    display: flex;
    padding-left: 5%;
}

.-action-description-margin{
    top: 50vh;
    left: 0px;
}

.action-description__item{
    padding-right: 10px;
    vertical-align: middle;
    margin-left: 8px;
    font-size: 1.1vw;
}

.table__header{
    display: flex;
    width: 100%;
    background: white;
    
}
.table__sn,
.table__customerName,
.table__orderTime,
.table__orderDeliveryTime,
.table__orderDetails,
.table__price,
.table__actions,
.table__completed,
.table__description,
.table__status,
.table__picture,
.table__orderDate,
.table__amount,
.table__quantity
{
    min-height: 20px;
    padding-top: 2vh;
    padding-bottom:  2vh;
    padding-left: 10px;
    text-align: justify;
    color: white;
    border-left: 1px solid white;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1vw;
}

.tb-sn{ width: 1%;}
.tb-w-50{ width: 50%;}
.tb-w-25{ width: 25%;}
.tb-w-24{ width: 24%;}
.tb-w-40{ width: 40%;}
.tb-w-60{ width: 60%;}
.tb-w-70{ width: 70%;}
.tb-w-80{ width: 80%;}
.tb-w-20{ width: 20%;}
.tb-w-24{ width: 24%;}
.tb-w-30{ width: 30%;}
.tb-w-29{ width: 29%;}
.tb-w-12{ width: 12%;}
.tb-w-15{ width: 15%;}
.tb-w-16{ width: 16%;}
.tb-w-5{ width: 5%;}
.tb-w-10{ width: 15%;}
.tb-w-8{ width: 8%;}
.tb-w-4{ width: 4%;}
.tb-w-7{ width: 7%;}
.tb-w-6{ width: 6%;}
.tb-w-21{ width: 21%;}
.tb-w-19{ width: 19%;}
.tb-w-35{ width: 35%;}

.table__scroll-pad{
    min-width: 18px;
    width: 1.3vw;
    background-color: white;
}

td, .td-2{
    padding: 1.5vh 1.7vw;
    font-size: 1vw;

}
.td-img {
    min-height: 40px;
    min-width: 40px;
    height: 5vh;
    width: 3vw;
    border-radius: 50%;
}


.action__button{
    height: 100%;
    width: 70%;
    background-color: orangered;
    overflow: hidden;
    font-size: 1.2vw;
    text-overflow: ellipsis;
    margin-left: 3%;
    cursor: pointer;
}

.img-btn{
    transition: 0.4s;
}

.orderDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.orderDetails__item{
    margin-left: 5px;
    margin-top: 10px;
}


.bold{
    font-weight: bold;
    font-size: 13px;
}

.orderDetails-card{
    width: 180px;
    box-shadow: 1px 2px 4px gray; 
    height: auto;
}

.orderDetails-img{
    width:  100%;
    height: auto;
}

.orderDetails__list{
    overflow: auto;
}

.ff{
    font-size: 13px;  
}

thead{
    background-color: orangered;
    
}
.separator{
    height: 6vh;
}

@media (min-width: 200px) {

    table {
        padding-left: 0px;
    }

    .table{
        height: 500px!important;
        width: 90%!important;
        margin-left: 5%;
    }

    .table .scrollBlock{
        height: 50vh!important;
    }
    
    .search, .date{
        width: 96%;
        margin-top: 10px;

    }


    .modal-content {
        width: 94%;
        margin-left: 3%;
    }

    .action-description{
        display: none;
        
    }
}



@media (min-width: 600px) {
    .table{
        height: 300px!important;
        width: 90%!important;
        margin-left: 5%;
    }
    .search, .date{
        width: 25%;

    }
    .action-description{
        display: flex;
        
    }
    .modal-content {
        width: 60%;
        margin-left: 20%;
    }

    .table .scrollBlock{
        height: 35vh!important;
    }
    

}

@media (min-width: 992px) {
    .search, .date{
        width: 20%;
    }
    .modal-content {
        width: 50%;
        margin-left: 25%;
    }
    .table .scrollBlock{
        height: 40vh!important;
    }
    
}

@media
only screen and (max-width: 600px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, .td-2, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }
    tr:nth-child(even) {background-color: #f2f2f2}
    td, .td-2 {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 52%;
        }
    td:before, .td-2::before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0px;
        left: 1px;
        width: 45%;
        white-space: nowrap;
    
        height: 100%;
        background-color: gray;
        color: white;
        
    }

    td:nth-of-type(1):before { content: "sn"; }
    td:nth-of-type(2):before { content: "Customer Name"; }
    td:nth-of-type(3):before { content: "Item description"; }
    td:nth-of-type(4):before { content: "order Time"; }
    td:nth-of-type(5):before { content: "QTY"; }
    td:nth-of-type(6):before { content: "Amount"; }
    td:nth-of-type(7):before { content: "Actions"; }
    td:nth-of-type(8):before { content: ""; }
    td:nth-of-type(9):before { content: ""; }
    td:nth-of-type(10):before { content: ""; }


    .td-2:nth-of-type(1):before { content: "sn"; }
    .td-2:nth-of-type(2):before { content: "image"; }
    .td-2:nth-of-type(3):before { content: "Item description"; }
    .td-2:nth-of-type(4):before { content: "order Date"; }
    .td-2:nth-of-type(5):before { content: "Order Time"; }
    .td-2:nth-of-type(6):before { content: "Qty"; }
    .td-2:nth-of-type(7):before { content: "Amount"; }
    .td-2:nth-of-type(8):before { content: "Status"; }
}

.more-details-btn:hover{
        content: url('../../images/icons8-more-details-24-hover.png');
}

.accept-btn:hover{
    content: url('../../images/icons8-ok-hand-24\ -hover.png');
}

.decline-btn:hover{
    content: url('../../images/icons8-cancel-24-hover.png');
}

.accept-btn.accepted{
    content: url('../../images/icons8-ok-hand-24\ -hover.png');
}

.decline-btn.declined{
    content: url('../../images/icons8-cancel-24-hover.png');
}

.accept-btn.disabled{
  cursor: not-allowed;
  /* for "disabled" effect */
  opacity: 0.5;
  content: url('../../images/icons8-ok-hand-24-disabled.png');
}

.decline-btn.disabled{
    cursor: not-allowed;
  /* for "disabled" effect */
    opacity: 0.5;
    content: url('../../images/icons8-cancel-24-disabled.png');
}