.food--onWindowScroll{
    position: fixed!important;
    width:100%;
    top: 10px;
}

.foodCart-onWindowScroll{
    position: fixed!important;
    top: 60px!important;
}

.cartClip-onWindowScroll{
    position: fixed!important;
    top: 90px!important;
}