.food-onWindowScroll{
     width:100%; 
}
.foodNavWrapper-onWindowScroll{
    position: fixed!important;
    top: 10vh;
}

.foodCart-onWindowScroll{
    position: fixed!important;
    top: 10vh!important;
}

.cartClip-onWindowScroll{
    position: fixed!important;
    top: 90px!important;
}