#header, #main, #footer {
    width: 100%;
}

#header{
    min-height: 56px;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 105;
}
#wrapper{
    height: 100%;
}
#main-home{
    height: 100vh;
}

#main{
    height: 92vh;
}
#main-2{
    height: 95vh;
}

#automain{
    height: auto;
    min-height: 100vh;
    position: relative;
    margin-top: 8vh;
}

.automain-top{ 
    padding-top: 20vh;
}

#mainDimension{
    height: 3000px;
    overflow-y: auto;
}


#footer{
    min-height: 30px;
    height: 5vh;
    position: relative;
    left: 0;
    bottom: 0%;
    text-align: center;
    color: white;
    padding-top: 10px;
}
#footer-2{
    min-height: 30px;
    height: 5vh;
    width: 100%;
    position: relative;
    left: 0vh;
    bottom: 0vh;
    text-align: center;
    color: white;
    padding-top: 10px;
}