#header, #main, #footer {
    width: 100%;
}

#header{
    height: 8.5%;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 105;
}
#wrapper{
    height: 100%;
}
#main-home{
    height: 100vh;
}

#main{
    height: 92%;
}
#main-2{
    height: 93.5%;
}

#automain{
    height: 100vh;
    padding-bottom: 5px;
    position: relative;
}

#mainDimension{
    height: 3000px;
    overflow-y: auto;
}


#footer{
    height: 5%;
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
    color: white;
    padding-top: 10px;
    z-index: 121;
}